<tr>
   <td width="80%"> 
        <p>
            {{#link-to "shops.products" shop.id}}       
                {{shop.name}}
            {{/link-to}}
        </p>
    </td>
    <td width="10%">
        <button class="btn btn-success" {{action (mut showForm) true}}>Edit</button>
    </td>
    <td> 
       <button class="btn btn-danger" {{action "deleteShop"}}>Delete</button>
    </td>

    {{#if showForm}}
        {{input value=shop.name}}
        <button class="btn btn-primary" {{action "editShop"}}>Save</button>
    {{/if}}
</tr>